
//--- font ---
$Raleway: "Raleway";

//--- sizing ---
$tablet: 768px;
$desktop: 1280px;
$xl-desktop: 1920px;

//--- coloring ---
$black: #000;
$white: #FFF;
$easyWhite: #d4d9e4;
//$niceBlue: hsl(204 100% 5%);

//--- colour-scheme ---
$mint: #3BBA9C;
$darkBG: #2E3047;
$semiDark: #43455C;
$darkish: #3C3F58;
$light: #707793;


//--- darker theme ---
$niceBlue: hsl(204 100% 5%);
$burgerMenuCol: hsl(200 100% 5%);
$niceBlueHex: #000f1a;
